exportPattern("^[[:alpha:]]+")
importFrom(boot, inv.logit)
importFrom(network, network.size)
importFrom(network, get.vertex.attribute)
importFrom(network, add.vertices)
importFrom(network, delete.vertices)
importFrom(stats, as.formula)
importFrom(stats, formula)
importFrom(network, as.matrix.network)
importFrom(network, as.network)
importFrom(network, as.network.matrix)
importFrom(network, as.sociomatrix)
importFrom(btergm, btergm)
importFrom(btergm, coef)
importFrom(stats, cutree)
importFrom(stats, dbinom)
importFrom(stats, dist)
importFrom(ergm, ergmMPLE)
importFrom(sna, gapply)
importFrom(network, get.edge.attribute)
importFrom(network, is.network)
importFrom(stats, hclust)
importFrom(stats, kmeans)
importFrom(network, list.edge.attributes)
importFrom(network, list.vertex.attributes)
importFrom(network, network)
importFrom(network, network.size)
importFrom(stats, nlm)
importFrom(network, set.edge.attribute)
importFrom(network, set.vertex.attribute)
importFrom(GGally, ggnet2)
importFrom(Matrix, Matrix)
importFrom(speedglm, speedglm.wfit)
importFrom(stats, simulate)
importFrom("methods", "new")
importFrom("stats", "binomial", "update.formula")
importFrom("stats", "rbinom")
import("btergm")
import("parallel")
import("xergm.common")
